src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="api-main">
        <http:listener path="${http.path}" config-ref="HTTP_Listener_config" allowedMethods="GET,POST">
            <http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers ><![CDATA[#[output application/java
---
{
	Accept: "application/json"
}]]]></http:headers>
            </http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
		
		<ee:transform doc:name="Set Variables" doc:id="5d18932b-5923-438a-a0b6-e702c0dba863" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---

if (attributes.headers.transactionId != null) attributes.headers.transactionId else correlationId
]]></ee:set-variable>
				<ee:set-variable variableName="clientRef" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.client_ref]]></ee:set-variable>
				<ee:set-variable variableName="apiname" ><![CDATA[%dw 2.0
output application/java
---
"abb-sys-api"
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Request Logger" doc:id="efdc2e4e-1012-4eb7-8f09-3184ba4fc8b4" message="#[payload]"/>
		<apikit:router config-ref="Router_abb_system_api" doc:name="APIkit Router for abb system API"/>
		<logger level="INFO" doc:name="Log Response" doc:id="3677d1e4-4662-4189-bd0f-7eccef634da6" message="#[&quot;\'Transaction\': &quot; ++ correlationId ++ &quot; \'Response HTTP Status\': &quot; ++ vars.httpStatus]"/>
		<logger level="INFO" doc:name="Logger" doc:id="3a4a5dcf-0ef2-411b-92fe-5d00b06fb6e3" message="Response ----- #[payload]"/>
		<error-handler ref="globalError_Handler" />
   </flow>
    <flow name="post:\scheduleAppointment:Router_abb_system_api">
		<flow-ref doc:name="api-implementationFlow" doc:id="84a9626d-59fc-4bb1-9734-55ba3398dddc" name="api-implementationFlow"/>
    </flow>
</mule>
